@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=IBM+Plex+Mono:wght@400;500;600&display=swap");
@import "tailwindcss";

* {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #22304f;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
